html {
  /* Sacado de https://css-pattern.com/ */
  --s: 200px; /* control the size */
  --c: #fff; /* first color */
  
  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    #7AB9C5; /* second color */
  background-size: var(--s) var(--s);
}

body {
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-text);
}


.form-container{
  background-color: rgba(255, 255, 255, 0.95); /* Blanco con un poco de opacidad */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid #ddd; /* Borde ligero para definir el contenedor */
  position: relative; /* Agrega posición relativa */

}

.boton-volver {
  position: absolute; /* Posiciona el botón en relación al .form-container */
  top: 10px; /* Espacio desde el borde superior del contenedor */
  right: 10px; /* Espacio desde el borde derecho del contenedor */
  padding: 10px 20px;
  /* ... resto de los estilos ... */
  display: inline-block;
  margin-bottom: 20px;
  background-color: #50cc88; /* Color de fondo del botón */
  color: rgb(3, 0, 0); /* Color del texto del botón */
  text-decoration: none; /* Eliminar subrayado de enlace */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
}
.boton-volver:hover {
  background-color: #0b632d; /* Color de fondo al pasar el mouse */
}


/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-item {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #e2e2e2;
}

/* Continúa con tus otros estilos... */


#nombre-usuario {
  font-size: 1.5rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
}

#nota-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#nota-text {
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
  padding: 10px;
  height: 100px;
  resize: vertical;
  font-size: 1rem;
  margin-bottom: 10px;

}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-white);
}

button[type="submit"]:hover {
  background-color: var(--color-secondary);
}

#logout-button {
  background-color: var(--color-accent);
  color: var(--color-white);
  margin-top: 20px;
}

#logout-button:hover {
  background-color: darken(var(--color-accent), 10%);
}

.nota {
  background-color: var(--color-background);
  padding: 10px;
  border: 1px solid #ccc;  
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column; /* Cambio de 'justify-content: space-between' y 'align-items: center' a 'flex-direction: column' */
}
.texto {
  /* Remueve las reglas que impiden que el texto se ajuste */
  overflow: auto; /* Permite desplazar si el contenido es más largo que el contenedor */
  white-space: normal; /* Permite que el texto se ajuste a líneas nuevas */
  word-break: break-word; /* Asegura que las palabras se corten correctamente al final de la línea */
}


.delete-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  align-self: flex-end; /* Alinea el botón de borrar al final de la nota */
}

.delete-button:hover {
  background-color: darken(var(--color-primary), 10%);
}



form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p, form p {
  text-align
  : center;
}



input, button{
  border-radius: 4px;
  border: unset;
  padding: 15px 30px;
  font-size: larger;
}


.error{
  color: rgb(255, 81, 81);
}

.escondido{
  display: none;
}

.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* Estilos para el contenedor de las cards */
.cards-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Estilo de las cards */
.card {
  width: 30%; /* O el ancho que prefieras */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer; /* Para indicar que se puede hacer clic */
  transition: transform 0.3s ease-in-out; /* Para un efecto de hover suave */
}

.card:hover {
  transform: translateY(-5px); /* Eleva la card al pasar el ratón por encima */
}

.card img {
  width: 100%;
  display: block; /* Asegúrate de que la imagen se ajusta al contenedor */
}

.card-content {
  padding: 10px;
  text-align: center; /* Centrar el texto en la card */
}

/* Asegúrate de que el resto de tu CSS no entre en conflicto con estas nuevas reglas */


